<h1>Hangman is a two player game!</h1>
<h1>Let one player enter a word while the other looks away.</h1>
<form class="" action="/hangman" method="post">
  <div class="form-group">
    <label for="word">Enter a word</label>
    <input class="form-control" type="text" name="word" id="word">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
