<form class="" action="/hangman" method="post">
  <div class="form-group">
    <label for="word">Enter a word</label>
    <input class="form-control" type="text" name="word" id="word">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
